/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    align-items: center;
    background-image: url('./assets/notes-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: 100% 100%; */
    background-size: cover;
    background-position: center center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}